header h2{
    
    font-size: 40px;
    background-color: #1B1E22;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    float: left; 
    width: 30em;
    padding-left: 18em;
}



header nav{
    background-color: #1B1E22;
    padding-top: 4.5em;
    padding-bottom: 3.3em;
    padding-right: 3em;
    
}
header nav ul li{
    display: inline;
    

}


body{
    background:
    linear-gradient(rgba(0, 0, 0, 0.7),
     rgba(0, 0, 0, 0.7)),
    url(images/img1.jpg);
    background-size: 180rem;
    background-repeat: no-repeat;
}   

body header nav{
    display: flex;
    flex-direction: row-reverse;
    
}


 
 
 body header nav ul li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.0em;
    padding-left: 1.0em;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1em;
    font-size: 18px;
  }

 body header nav.primary ul li a{
    color: white;
    font-weight: bold;
    
 }

 label{
    color: white;
 }













body header p{
    margin-left: 20em;
    margin-top: 3em;
    font-size: 20px;
    margin-bottom: 2em;
    font-weight: bold;
}
p{
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 3em;
    font-size: 20px;
    margin-bottom: 2em;
    color: white;
}
p.head{
    margin-left: 29em;
    font-size: 30px;
}
img{
    margin-left: 43em;
   
}
label{
    margin-bottom: 0.2em;
    padding-top: 1em;
    
}


body nav p{
    margin-left: 20em;
    margin-top: 3em;
    font-size: 20px;
    margin-bottom: 2em;
    font-weight: bold;
}


footer div{
    color: white;
    background-color: #1B1E22;
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 3em;
    margin-bottom: -1em;
    padding-left: 2em;
}






 
 




